@model Nhom09.Models.Product

@{
    ViewData["Title"] = "Edit";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chỉnh sửa sản phẩm</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="m-4 md:mt-0 md:col-span-2 shadow rounded shadow-2xl y-8 px-16 py-8 w-2/3 m-auto">
            <h1 class="block w-full text-center text-gray-600 text-2xl font-bold mb-6">
                Sửa thông tin sản phẩm
            </h1>
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="flex flex-col mb-4">
                    <label asp-for="Name" class="mb-2 font-semibold text-lg text-indigo-800"></label>
                    <input asp-for="Name" class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="flex flex-col mb-4">
                    <label asp-for="Price" class="mb-2 font-semibold text-lg text-indigo-800"></label>
                    <input asp-for="Price" class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="flex flex-col mb-4">
                    <label asp-for="Quantity" class="mb-2 font-semibold text-lg text-indigo-800"></label>
                    <input asp-for="Quantity" class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="flex flex-col mb-4">
                    <img src="~/img/ImageSP/@Model.Image"
                     class="rounded-square"
                     height="50" width="75"
                     style="border:1px"
                     asp-append-version="true" accept="image/*" />
                    <span><a href="@Model.Image">@Model.Image</a></span>
                    <input asp-for="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="flex flex-col mb-4">
                    <label asp-for="ProductTypeId" class="mb-2 font-semibold text-lg text-indigo-800"></label>
                    <select asp-for="ProductTypeId" class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900" asp-items="ViewBag.ProductTypeId"></select>
                </div>
                <div class="flex flex-col mb-4">
                    <label asp-for="Chip" class="mb-2 font-semibold text-lg text-indigo-800"></label>
                    <input asp-for="Chip" class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900" />
                    <span asp-validation-for="Chip" class="text-danger"></span>
                </div>
                <div class="flex flex-col mb-4">
                    <label asp-for="RAM" class="mb-2 font-semibold text-lg text-indigo-800"></label>
                    <input asp-for="RAM" class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900" />
                    <span asp-validation-for="RAM" class="text-danger"></span>
                </div>
                <div class="flex flex-col mb-4">
                    <label asp-for="ScreenSize" class="mb-2 font-semibold text-lg text-indigo-800"></label>
                    <input asp-for="ScreenSize" class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900" />
                    <span asp-validation-for="ScreenSize" class="text-danger"></span>
                </div>
                <div class="flex flex-col mb-4">
                    <label asp-for="Pin" class="mb-2 font-semibold text-lg text-indigo-800"></label>
                    <input asp-for="Pin" class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900" />
                    <span asp-validation-for="Pin" class="text-danger"></span>
                </div>
                <div class="bg-indigo-500 hover:bg-indigo-700 text-white text-center py-2 px-8 rounded mx-auto block">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
                <br />
                <div class="bg-indigo-500 hover:bg-indigo-700 text-white text-center py-2 px-8 rounded mx-auto block">
                    <a asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </body>

    </html>
    <!-- HTML !-->